td.yamCentred {
    text-align: center !important;
}
td.yamCentred.yamTD {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
div.yamReport {
    overflow: hidden;
    overflow-x: auto;
}
div.yamRight {
    float: right;
    width: 80%;
}
